In [2]:
import sqlite3

conn = sqlite3.connect('tienda.db')#crea la base de datos tienda

cursor = conn.cursor()#agrega el objeto cursor

cursor.execute("DROP TABLE IF EXISTS STUDENT")#borra la tabla si ya existe
# create query
query = """CREATE TABLE CLIENTES(
        ID INT PRIMARY KEY NOT NULL,
        NOMBRE CHAR(20) NOT NULL, 
        DNI CHAR(9), 
        PAIS CHAR(20) )"""
cursor.execute(query)#pasa como parametro el query creado anteriormente y lo ejecuta el cursor

conn.commit()#guardamos los cambios realizados

OperationalError: table CLIENTES already exists

In [12]:


conn.execute ( "INSERT INTO CLIENTES (ID, NOMBRE, DNI, PAIS)" 
             "VALUES (1, 'Pablo', '04564729T', 'Espa単a')" )
#Inserta los datos de los alumnos
conn.execute ( "INSERT INTO CLIENTES (ID, NOMBRE, DNI, PAIS)" 
             "VALUES (2, 'Luis', '00234586L', 'Bolivia')" )
conn.execute ( "INSERT INTO CLIENTES (ID, NOMBRE, DNI, PAIS)" 
             "VALUES (3, 'Maria', '00232458L', 'Ecuador')" )
conn.commit ()

In [3]:
consulta="select * from CLIENTES" #sentencia para leer la tabla
cursor.execute(consulta)#pasa como parametro la consulta realizada creado anteriormente y lo ejecuta el cursor
resultado=cursor.fetchall()
print(resultado)

[(1, 'Pablo', '04564729T', 'Espa単a'), (3, 'Laura', '00232458L', 'Alemania')]

In [4]:
conn.execute ( "update clientes SET NOMBRE = 'Laura', PAIS= 'Alemania' WHERE ID = 3;" ) #sentencia para modificar la tabla
conn.commit ()

consulta="select * from CLIENTES"
cursor.execute(consulta)
resultado=cursor.fetchall()
print(resultado)

[(1, 'Pablo', '04564729T', 'Espa単a'), (3, 'Laura', '00232458L', 'Alemania')]

In [5]:
conn.execute ( "delete from clientes where ID = 2;" ) #sentencia para borrar la tabla
conn.commit ()

In [22]:
consulta="select * from CLIENTES"
cursor.execute(consulta)
resultado=cursor.fetchall()
print(resultado)

[(1, 'Pablo', '04564729T', 'Espa単a'), (3, 'Laura', '00232458L', 'Alemania')]